<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card" style="color: #4B515D; border-radius: 35px;">
          <div class="card-body p-4">
            <div class="d-flex">
              <h6 class="flex-grow-1" id="data_location_name">Location</h6>
            </div>
            <div class="d-flex">
              <h6 id="data_date_time">Date/Time</h6>
            </div>
            <div class="d-flex flex-column text-center mt-5 mb-4">
              <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;" id="data_temperature"> °C </h6>
              <span class="small" id="data_weather_description">Description</span>
            </div>
            <div class="d-flex align-items-center">
              <div class="flex-grow-1" style="font-size: 1rem;">
                <div><i class="far fa-paper-plane fa-fw"></i> Wind: <span class="ms-1" id="data_wind"> km/h </span></div>
                <div><i class="fas fa-tint fa-fw"></i> Humidity: <span class="ms-1" id="data_humidity"> % </span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
