{% extends "base.html" %}

{% block content %}
  <br><br>
  <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
    <div class="row">
      <div class="col-lg-12 tm-md-12 tm-col">
        <hr><h5>Find By Name</h5>
      </div>
      <div class="col-lg-9 tm-md-9 tm-col">
        {% include "weather/findbyname/weatherform.html" %}
      </div>
      <div class="col-lg-3 tm-md-3 tm-col">
        {% include "weather/findbyname/weatherforecast.html" %}
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  {% include "weather/findbyname/js.html" %}
{% endblock %}