{% extends "base.html" %}

{% block content %}
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            {% for location in location_list  %}
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="card" style="color: #4B515D; border-radius: 35px;">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <h6 class="flex-grow-1">{{location.name}}</h6>
                            </div>
                            <div class="d-flex">
                                <h6>{{location.weather_forecast.date_time}}</h6>
                            </div>
                            <div class="d-flex flex-column text-center mt-5 mb-4">
                                <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{location.weather_forecast.temperature}} </h6>
                                <span class="small">{{location.weather_forecast.weather_description}}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1" style="font-size: 1rem;">
                                    {% if location.weather_forecast.wind  %}
                                        <div><i class="far fa-paper-plane fa-fw"></i> Wind: <span class="ms-1" >{{location.weather_forecast.wind}} </span></div>
                                        <div><i class="fas fa-tint fa-fw"></i> Humidity: <span class="ms-1" > {{location.weather_forecast.humidity}} </span></div>
                                    {% else %}
                                        <strong>No available data</strong>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class='pagination justify-content-center'>
        {% if page_obj.has_previous %}
          <a href='{% url "location_list_page" %}?page={{ page_obj.previous_page_number }}'>Previous </a>
        {% endif %}
    
        <span class='mx-4'>
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    
        {% if page_obj.has_next %}
          <a href='{% url "location_list_page" %}?page={{ page_obj.next_page_number }}' > Next</a>
        {% endif %}
      </div>
{% endblock %}

{% block script %}
  {% include "weather/locationlist/js.html" %}
{% endblock %}
